@media (min-width: 1366px){
	.container{
	 	width:53%;
	 	margin: 0 auto;
	}
	.gototop{
		right:20%;
	}
}
@media (min-width: 992px) and (max-width: 1366px) {
	.container{
	 	width:85%;
	 	margin: 0 auto;
	}
	.gototop{
		right:4%;
	}

}
@media (min-width: 0px) and (max-width: 992px) {
	.container{
	 	width:85%;
	 	margin: 0 auto;
	}
	.gototop{
		right:4%;
	}	
}
body{
	background: #EADBC4;
	color: #5b4421;
	background-image:url("image/bg.png");
	background-position:50% 50%;
	background-repeat: repeat repeat;
	font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
	font-size:20px;
	cursor: default;
}
a{
	text-decoration: none;
	color: #5b4421;
}
div.menu{
    background-color: #453D3F;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    width: 100%;
    box-shadow: 0 3px 0 rgba(0,0,0,.3)
}
div.menutitle{
    margin-top: 5px;
    color: white;
}
h1.style1{
	font-weight: 500;
}
h2.style1{
	/*background-color: #ded0ba;
	padding: .2em;
	box-shadow: 3px 3px 0 rgba(0,0,0,.1);*/
	font-weight: 500;
	/*text-align: center;*/
}
hr.style1{
	border-top: 1px dashed #59922b;
}
div.subtitle-block{
	margin-top: 30px;
	margin-bottom: 10px;
}
fieldset.news{
	width: 95%;
	border:1px dashed;
	/*padding:10px;*/
	/*margin-bottom:10px;*/
	border-radius: 4px;


}
legend.news{
	padding:5px 10px;
	background-color:#f3837a;
 	color:#FFF;
 	border-radius: 4px;
}
/*div.news{
	display: inline-block;
	background-color: #ded0ba;
	padding: .2em;
	box-shadow: 3px 3px 0 rgba(0,0,0,.1);
	margin-bottom: 20px;
	margin-right: 10px;
	width: 100%;
    font-weight: 500;
    font-size: 26px;
}*/
div.subtitle{
	display: inline-block;
	background-color: #F4C63D;
	padding: .2em;
	box-shadow: 3px 3px 0 rgba(0,0,0,.1);
	margin-bottom: 20px;
	margin-right: 10px;
	width: 150px;
    text-align: center;
    font-weight: 500;
    font-size: 26px;
}
div.subtitle-link{
	display: inline-block;
	background-color: #f9df94;
	padding: .2em;
	box-shadow: 3px 3px 0 rgba(0,0,0,.1);
	margin-bottom: 20px;
	margin-right: 10px;
	width: 70px;
    text-align: center;
    cursor: pointer;
}
div.subtitle-link:hover{
   background-color: #F4C63D;
   color: white;
}
table {
    border-collapse: collapse;
    width: 550px;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #5b4421;
    font-size: 22px;
}
td.latest-title{
	font-size: 32px;
}
td.latest{
	font-size: 34px;
}
td.hightest{
	color: #ff4500;
}
td.lowest{
	color: #228b22;	
}
p.caption{
	margin-top: 10px;
}
span.text{
	font-size: 18px;
}
.block{
 	width: 100%;
 	margin-bottom: 20px;
}
.blockcaption{
	font-size: x-large;
	font-weight: bold;
}
.MVPIcon{
	width: 27px;
    height: 27px;    
    position: absolute;
    top: -10px;
    left: -7px;
    background: url("image/bossicon.png") no-repeat;
    background-size: 150px;
    background-position: 0 0;
    filter: opacity(.9);
}
.MiniIcon{
	width: 27px;
    height: 27px;
    position: absolute;
    top: -10px;
    left: -7px;
    background: url("image/bossicon.png") no-repeat;
    background-size: 150px;
    background-position: -30px 0px;
    filter: opacity(.9);
}
.col{
 	width: 185px;
 	height: 50px;
 	display: inline-block;
 	margin-bottom: 10px;
 	margin-left: 10px;
 	border: 1px solid #453d3f;
 	border-radius: 4px;
 	text-align: center;
 	cursor: pointer;
 	position: relative;
}
.col:hover{
   background-color: #f4c63d;
   color: white;
}
.btnPanel{
	text-align: right;
	margin-top: 30px;
}
.contentPanel{
	padding: 20px;
    margin-bottom: 20px;
}
.cardInfo{
	font-size: 40px;
    margin-bottom: 10px;
}
.returnBtn{
 	width: 100%;
 	height: 35px;	
    border: 3px solid #f05b4f;
 	border-radius: 4px;
    background-color: #f4c63d;
    color: white;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    padding: 3px;
}
.gototop{
    position: fixed;
    bottom: 60px;
    text-align: center;
}
.gototop-text{
	background-color:#F4C63D;
	border-radius: 4px;
	color: #1d2129;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}